input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 25px;
  padding: 20px 70px;
  max-width: 632px;
  width: 100%;
  border: 1px solid #eae4ff;
}

input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #ddd;
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked + label:before {
  content: "";
  background-color: #3f04fe;
  background-image: url('data:image/svg+xml;utf8,<svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 6.625L4.375 10L13.375 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}
